<html>
  <head>
    <title>Simple Task Manager</title>
    <style>
        .newspaper {
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;
        }
        .head {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="head">
        <h1>SIMPLE TASK MANAGER</h1>
        <h2>using MongoDB</h2>
    </div>
    <div class="newspaper">
        <form method="POST">
            {{ cform.hidden_tag() }}
            <fieldset>
                <legend>Create Task</legend>
                {{ cform.title.label }}<br>
                {{ cform.title }}<br>
                {{ cform.shortdesc.label }}<br>
                {{ cform.shortdesc }}<br>
                {{ cform.priority.label }}<br>
                {{ cform.priority }}<br><br>
                {{ cform.create }}
            </fieldset>
        </form>
        <form  method="POST">
            {{ uform.hidden_tag() }}
            <fieldset>
                <legend>Update Description task</legend>
                {{ uform.key.label }}<br>
                {{ uform.key }}<br><br>
                Set Update<br><br>
                {{ uform.shortdesc.label }}<br>
                {{ uform.shortdesc }}<br>
                {{ uform.update }}
            </fieldset>
        </form>
        <form method="POST">
            {{ dform.hidden_tag() }}
            <fieldset>
                <legend>Delete Task</legend>
                {{ dform.key.label }}<br>
                {{ dform.key }}<br>
                <br>OR<br><br>
                {{ dform.title.label }}<br>
                {{ dform.title }}<br><br>
                {{ dform.delete }}
            </fieldset>
        </form>
        <form method="POST">
            {{ reset.hidden_tag() }}
            <b>Reset All Data: </b> {{ reset.reset }}
        </form>
    </div>
    <br>
    <br>
    <b>Tasks List:</b><br><br>
    {% for i in data %}
        ID = {{ i["id"] }} <br>
        Title = {{ i["title"] }}<br>
        Short Description = {{ i["shortdesc"] }} <br>
        Priority = {{ i["priority"] }}<br><br>
    {% endfor %}
  </body>
</html>
